importFrom("curl","has_internet")
importFrom("graphics","axis","box","lines","par","plot","points","polygon")
importFrom("parallel","mcmapply","detectCores")
importFrom("raster","area","crop","extent","getData","getValues","intersect","mask","setValues","raster","rasterize","reclassify","stack","values","Which")
importFrom("rgdal","readGDAL")
importFrom("rvest","html_attr","html_nodes")
importFrom("stats","formula","median","na.omit","time","ts")
importFrom("SDMTools","PatchStat")
importFrom("utils", "download.file","read.table")
importFrom("xml2", "read_html")
export(EBVmetric,FCMosaic,FCPolygon,getGADM,GFCurls,HansenUrltoExtent, plot.EBVmetric)
S3method(plot,EBVmetric) 

