importFrom("curl","has_internet")
importFrom("dplyr","pull")
importFrom("graphics","arrows","axis","barplot","box","grid","lines","par","plot","points","polygon")
importFrom("gdalUtils","mosaic_rasters")
importFrom("ggplot2","aes","coord_flip","element_text","facet_wrap","geom_line","geom_segment","geom_point","ggplot","labs","theme","theme_bw")
importFrom("grDevices","rgb")
importFrom("landscapemetrics","calculate_lsm")
importFrom("parallel","mcmapply","detectCores")
importFrom("raster","area","blockSize","brick","canProcessInMemory","clamp","compareRaster","crs","cellStats","crop","extent","getData","getValues","intersect","mask","merge","nlayers","pbCreate","pbClose","pbStep","projectExtent","projectRaster","setValues","raster","rasterize","reclassify","res","stack","subset","rasterTmpFile","values","Which","writeStart","writeValues","writeStop")
importFrom("rgdal","readGDAL","readOGR")
importFrom("rvest","html_attr","html_nodes")
importFrom("stats","formula","median","na.omit","time","ts")
importFrom("tibble", "as_tibble","tibble")
importFrom("utils", "download.file","capture.output","read.table","unzip")
importFrom("xml2", "read_html")
export(barplot.EBVstats,CCPolygon,EBVMask,EBVmetric,EBVstats,FCMask,FCMosaic,FCPolygon,getGADM,GFCurls,HansenUrltoExtent,plot.EBVmetric)
S3method(plot,EBVmetric) 
S3method(barplot,EBVstats) 
importMethodsFrom("raster","as.list","names<-","merge","plot","trim")
